/************ basic styles *********************/
/* line 5, ../sass/global.style.scss */
.block-title {
  color: #ef1616;
  font-size: 26px;
  line-height: 35px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}
/* line 12, ../sass/global.style.scss */
.block-title em {
  color: black;
  font-style: normal;
}

/* line 20, ../sass/global.style.scss */
.site-footer .block-title {
  color: white;
  font-size: 20px;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
}
/* line 27, ../sass/global.style.scss */
.site-footer .block-title em {
  color: #ef1616;
}

/* line 33, ../sass/global.style.scss */
.color-red {
  color: #ef1616;
}

/* line 38, ../sass/global.style.scss */
.clearfix {
  clear: both;
}

/** form ***/
/* line 45, ../sass/global.style.scss */
input {
  margin: 0;
}
/* line 49, ../sass/global.style.scss */
input.form-text {
  width: 100%;
  max-width: 440px;
  height: 60px;
  line-height: 58px;
  box-sizing: border-box;
  padding: 0 25px;
  border: 1px solid #252525;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  background: white;
  font-size: 16px;
  color: black;
  font-family: "PT Sans";
}
/* line 65, ../sass/global.style.scss */
input.form-submit {
  display: inline-block;
  border: 0;
  font-family: "Insignia W01";
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 25px;
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
/* line 68, ../sass/global.style.scss */
input.form-submit.btn-red {
  background-color: #ef1616;
}

/* line 75, ../sass/global.style.scss */
.btn-classic {
  display: inline-block;
  border: 0;
  font-family: "Insignia W01";
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 25px;
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
/* line 78, ../sass/global.style.scss */
.btn-classic.btn-red {
  background-color: #ef1616;
}

/* line 83, ../sass/global.style.scss */
.text-left {
  text-align: left;
}

/* line 87, ../sass/global.style.scss */
.text-right {
  text-align: right;
}

/* line 91, ../sass/global.style.scss */
.text-center {
  text-align: center;
}

/********************** header ****************************/
/* line 99, ../sass/global.style.scss */
.path-frontpage .featured-top {
  display: none;
}

/* line 104, ../sass/global.style.scss */
.block-views-blockkategoria-produktu-block-2 {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 109, ../sass/global.style.scss */
.block-views-blockkategoria-produktu-block-2 .views-row {
  display: inline-block;
  width: 205px;
  margin: 0 5px;
}
/* line 115, ../sass/global.style.scss */
.block-views-blockkategoria-produktu-block-2 .block-title {
  text-align: left;
  border: 0;
  font-size: 50px;
  padding: 0;
  margin: 80px 0;
  line-height: 50px;
}

/* line 125, ../sass/global.style.scss */
.highlighted .region-highlighted {
  margin: 0;
}

/* line 129, ../sass/global.style.scss */
.views-field-field-zdjecie-top {
  position: relative;
}
/* line 131, ../sass/global.style.scss */
.views-field-field-zdjecie-top .top-photo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 40px;
  text-align: left;
  border: 0;
  font-size: 50px;
  padding: 0;
  margin: 80px 0;
  line-height: 50px;
  color: #ef1616;
}

/********************** aktualnosci front *********************/
/* line 150, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 {
  width: 100%;
  display: inline-block;
}
/* line 154, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-row {
  float: left;
  box-sizing: border-box;
  margin: 0 3%;
  width: 27%;
  border-bottom: 10px solid black;
}
/* line 163, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-field-field-zdjecie {
  border-bottom: 10px solid #ef1616;
  margin-bottom: 20px;
}
/* line 167, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-field-field-zdjecie img {
  display: block;
}
/* line 172, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-field-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
/* line 177, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-field-title:after {
  content: '';
  width: 100px;
  border-bottom: 1px solid #dcdcdc;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
/* line 187, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-field-title a {
  font-size: 22px;
  color: #373737;
  line-height: 30px;
  font-weight: bold;
}
/* line 195, ../sass/global.style.scss */
.block-views-blockaktualnosci-block-1 .views-field-body {
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 20px;
}

/* line 204, ../sass/global.style.scss */
a.views-more-link {
  color: #ef1616;
  font-weight: bold;
}

/**************************** nasze poradniki ********************************/
/* line 213, ../sass/global.style.scss */
.nasze-poradniki-block {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

/* line 221, ../sass/global.style.scss */
.poradniki-row {
  background-color: #ef1616;
  padding: 25px 40px;
  color: white;
  height: 255px;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 230, ../sass/global.style.scss */
.poradniki-row.red-gradiend {
  background: -webkit-linear-gradient(left, #f8490a, #f01d14);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #f8490a, #f01d14);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #f8490a, #f01d14);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, #f8490a, #f01d14);
  /* Standard syntax */
}
/* line 234, ../sass/global.style.scss */
.poradniki-row.black-gradiend {
  background-color: black;
  background: -webkit-linear-gradient(left top, #020202, #424242);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left top, #020202, #424242);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left top, #020202, #424242);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(left top, #020202, #424242);
  /* Standard syntax */
  position: relative;
}
/* line 239, ../sass/global.style.scss */
.poradniki-row.black-gradiend:after {
  content: '';
  width: 140px;
  height: 35px;
  background: url(../images/ei-watermark.png) no-repeat center;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 30px;
}

/* line 252, ../sass/global.style.scss */
.poradniki-title {
  font-size: 25px;
  line-height: 30px;
  font-family: "Insignia W01";
  margin: 10px 0;
}

/* line 259, ../sass/global.style.scss */
.poradniki-body {
  font-size: 15px;
  line-height: 22px;
  width: 80%;
  margin-bottom: 20px;
}

/**************************** radio link **********************************/
/* line 270, ../sass/global.style.scss */
.rl-row {
  width: 50%;
  height: 300px;
  background-color: #f7f7f7;
  float: left;
  color: black;
  margin-top: 35px;
}
/* line 278, ../sass/global.style.scss */
.rl-row.black-gradient {
  background: -webkit-radial-gradient(bottom, #797979, #060606);
  /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(bottom, #797979, #060606);
  /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(bottom, #797979, #060606);
  /* For Firefox 3.6 to 15 */
  background: radial-gradient(bottom, #797979, #060606);
}
/* line 282, ../sass/global.style.scss */
.rl-row.black-gradient .row-wrapp {
  background-image: url(../images/rl-phone.png);
}
/* line 288, ../sass/global.style.scss */
.rl-row.rl-family .row-wrapp {
  background-image: url(../images/rl-family.png);
}
/* line 293, ../sass/global.style.scss */
.rl-row .row-wrapp {
  box-sizing: border-box;
  height: inherit;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* line 302, ../sass/global.style.scss */
.rl-subtitle, .rl-title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Insignia W01";
  text-transform: uppercase;
}

/* line 310, ../sass/global.style.scss */
.rl-body {
  font-size: 15px;
  line-height: 22px;
  color: rgba(30, 30, 30, 0.6);
  margin: 20px 0;
}

/* line 319, ../sass/global.style.scss */
.black-gradient .rl-subtitle {
  color: white;
}
/* line 323, ../sass/global.style.scss */
.black-gradient .rl-title {
  color: white;
}
/* line 327, ../sass/global.style.scss */
.black-gradient .rl-body {
  color: rgba(255, 255, 255, 0.6);
}

/****************************** footer ****************************/
/* line 337, ../sass/global.style.scss */
.site-footer__top > .region {
  padding: 0 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 344, ../sass/global.style.scss */
.site-footer__top > .region.region-footer-third {
  width: 70%;
  font-family: "Insignia W01";
  font-size: 20px;
  color: white;
}
/* line 351, ../sass/global.style.scss */
.site-footer__top > .region.region-footer-fourth {
  width: 30%;
  font-family: "Insignia W01";
}

/* line 359, ../sass/global.style.scss */
.region-footer-first .main-menu-block {
  float: left;
  width: 30%;
  margin-right: 3%;
}
/* line 367, ../sass/global.style.scss */
.region-footer-first .main-menu-block ul.menu li a {
  color: #6d6d6d;
  font-size: 15px;
  line-height: 23px;
}
/* line 372, ../sass/global.style.scss */
.region-footer-first .main-menu-block ul.menu li a:hover {
  color: #ef1616;
}

/* line 382, ../sass/global.style.scss */
.footer-small-block {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  margin-right: 20px;
  float: left;
}
/* line 390, ../sass/global.style.scss */
.footer-small-block img {
  vertical-align: middle;
}
/* line 394, ../sass/global.style.scss */
.footer-small-block.footer-copyright {
  margin: 0;
}

/* line 399, ../sass/global.style.scss */
#scroll-to-top {
  height: 70px;
  line-height: 70px;
  padding-left: 40px;
  font-size: 20px;
  color: white;
  background: url(../images/top_arrow.png) no-repeat left center;
}

/******************* newsletter *****************/
/* line 410, ../sass/global.style.scss */
.block-simplenews {
  text-align: right;
}

/* line 415, ../sass/global.style.scss */
.simplenews-subscriber-form {
  display: inline-block;
}
/* line 418, ../sass/global.style.scss */
.simplenews-subscriber-form .field--name-mail {
  width: 320px;
  float: left;
  margin-right: 5px;
}
/* line 423, ../sass/global.style.scss */
.simplenews-subscriber-form .field--name-mail label {
  display: none;
}
/* line 428, ../sass/global.style.scss */
.simplenews-subscriber-form .form-actions {
  float: right;
  padding: 0;
}
/* line 433, ../sass/global.style.scss */
.simplenews-subscriber-form .form-actions input.form-submit {
  height: 59px;
  line-height: 59px;
  margin: 1px 0;
}
/* line 441, ../sass/global.style.scss */
.simplenews-subscriber-form .form-item-message {
  color: #6d6d6d;
}

/**************************** amazon *************************/
/* line 450, ../sass/global.style.scss */
.amazon-block {
  height: 260px;
  margin: 30px 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 20px 30px;
}
/* line 457, ../sass/global.style.scss */
.amazon-block .opinion-row {
  float: left;
  height: inherit;
  position: relative;
}
/* line 462, ../sass/global.style.scss */
.amazon-block .opinion-row.row-1 {
  width: 40%;
}
/* line 466, ../sass/global.style.scss */
.amazon-block .opinion-row.row-2 {
  width: 60%;
}
/* line 470, ../sass/global.style.scss */
.amazon-block .opinion-row .product-button {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
}
/* line 478, ../sass/global.style.scss */
.amazon-block .amazon-title {
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-transform: uppercase;
  font-family: "Insignia W01";
  margin: 20px 0;
}
/* line 487, ../sass/global.style.scss */
.amazon-block .amazon-description {
  font-size: 15px;
  line-height: 22px;
}

/*************************** map ****************************/
/* line 496, ../sass/global.style.scss */
.views-exposed-form .form-item-field-kod-pocztowy-target-id,
.views-exposed-form .form-item-field-miejscowosc-target-id {
  display: none;
}

/* line 502, ../sass/global.style.scss */
.block-views-blockmapa-instalatorow-block-1 {
  float: left;
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
  padding-right: 10px;
}

/* line 511, ../sass/global.style.scss */
.map-filters {
  padding: 20px;
  background: url(../images/search_form_bg.jpg) no-repeat center;
  background-size: cover;
  clear: both;
}
/* line 517, ../sass/global.style.scss */
.map-filters .more-link {
  margin-top: 10px;
}
/* line 520, ../sass/global.style.scss */
.map-filters .more-link a {
  width: 100%;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-family: "Insignia W01";
  line-height: 40px;
  box-sizing: border-box;
  color: white;
  border: 1px solid white;
}
/* line 536, ../sass/global.style.scss */
.map-filters .form--inline .form-item {
  float: left;
  padding: 0 10px 0 0;
  box-sizing: border-box;
  width: 70%;
  margin: 0;
}
/* line 545, ../sass/global.style.scss */
.map-filters .form-actions.form-wrapper {
  float: left;
  margin: 0;
  clear: none;
  width: 30%;
}
/* line 554, ../sass/global.style.scss */
.map-filters input.form-text {
  max-width: 100%;
  border-color: white;
}
/* line 559, ../sass/global.style.scss */
.map-filters input.form-submit {
  height: 60px;
  line-height: 60px;
  width: 100%;
  box-sizing: border-box;
}

/* line 568, ../sass/global.style.scss */
.el-logo-left {
  float: left;
  display: table;
  height: 80px;
}
/* line 573, ../sass/global.style.scss */
.el-logo-left .field-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* line 579, ../sass/global.style.scss */
.el-logo-right {
  float: right;
  display: table;
  height: 80px;
}
/* line 584, ../sass/global.style.scss */
.el-logo-right .field-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/************************** blog ****************************/
/* line 591, ../sass/global.style.scss */
.block-views-blockblog-block-1 {
  float: left;
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
  padding-left: 10px;
}

/* line 599, ../sass/global.style.scss */
.view-blog {
  color: #373737;
}
/* line 604, ../sass/global.style.scss */
.view-blog.view-display-id-block_1 .views-row {
  background-color: #ededee;
  margin-bottom: 20px;
  padding: 20px;
}
/* line 611, ../sass/global.style.scss */
.view-blog .views-field-title {
  font-family: "Insignia W01";
}
/* line 613, ../sass/global.style.scss */
.view-blog .views-field-title a {
  font-size: 22px;
  line-height: 30px;
  color: #373737;
}
/* line 620, ../sass/global.style.scss */
.view-blog .views-field-body {
  font-size: 15px;
  line-height: 28px;
}
/* line 625, ../sass/global.style.scss */
.view-blog .views-field-field-blog-zdjecie {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}
/* line 633, ../sass/global.style.scss */
.view-blog .views-field-nothing .field-content > div {
  float: left;
  margin-right: 20px;
}
/* line 637, ../sass/global.style.scss */
.view-blog .views-field-nothing .field-content > div .field-label {
  margin-right: 10px;
}
/* line 641, ../sass/global.style.scss */
.view-blog .views-field-nothing .field-content > div .field-label, .view-blog .views-field-nothing .field-content > div .field-content {
  float: left;
}
/* line 649, ../sass/global.style.scss */
.view-blog .more-link a {
  width: 100%;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-family: "Insignia W01";
  line-height: 40px;
  box-sizing: border-box;
  border: 1px solid #ef1616;
}

/*************************** kontakt **************************/
/* line 669, ../sass/global.style.scss */
.mapka {
  width: 100% !important;
}

/**************************** product page *********************/
/* line 680, ../sass/global.style.scss */
.produkty-views-page .views-row {
  width: 50%;
  float: left;
}
/* line 685, ../sass/global.style.scss */
.produkty-views-page .views-field-nothing {
  margin: 10px;
  padding: 20px;
  background-color: white;
  height: 255px;
  border-radius: 10px;
}
/* line 693, ../sass/global.style.scss */
.produkty-views-page .product-left, .produkty-views-page .product-right {
  float: left;
  width: 50%;
}
/* line 699, ../sass/global.style.scss */
.produkty-views-page .product-title a {
  color: #656668;
  font-size: 22px;
}
/* line 705, ../sass/global.style.scss */
.produkty-views-page .product-image {
  text-align: center;
}
/* line 710, ../sass/global.style.scss */
.produkty-views-page .product-description li {
  list-style: circle;
}

/*# sourceMappingURL=global.style.css.map */
