/**
 * @file
 * Bartik layout styling.
 */
 body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #333;
 }
 #header .layout-container{
	 position: relative;
 }
#header .region-header{
	 width: 260px;
	 height: 80px;
	 float: left;
 }
#header .region-primary-menu{
	width: auto;
	float: right;
	position: absolute;
	right: 110px;
	top: 30px;
}
#header .region-fb{
	width: auto;
	float: right;
	position: absolute;
	right: 70px;
	top: 33px;
}
#header .region-instagram{
	width: auto;
	float: right;
	position: absolute;
	right: 38px;
	top: 29px;
} 
#header .region-youtube{
	width: auto;
	float: right;
	position: absolute;
	right: 10px;
	top: 30px;
} 
#header .region-primary-menu a{
	color: #656668;
    display: block;
    font-size: 18px;
    padding: 0px 10px 0px;
    text-decoration: none;
	font-family: "Insignia W01";
}
#header .region-primary-menu a:hover, #header .region-primary-menu a.active{
	color: black;
}
#header .menu-toggle{
	display: none; 
}

.flickity-prev-next-button.previous{
	left: -50px;
}
.flickity-prev-next-button.next{
	right: -50px; 
}
.gallery-cell{
	display: table;
	width: 215px;
	height: 150px;
}

.views-field-field-ikona img{
	border: 2px solid #fff;
    border-radius: 10px;
}
.views-field-field-ikona img:hover{
	border: 2px solid #ed1c24;
}
.content_left{
	width: 49.5%;
	float: left;
}
.content_right{
	width: 49.5%;
	float: right;
}
#block-ei-branding img{
	width: auto;
	height: auto;
}
#block-ei-youtube a {
   color: #fff;
}
@media all and (max-width: 699px){
	.content_left{
	width: 100%;
	float: left;
	}
	.content_right{
	width: 100%;
	float: left;
	}
	.ds-2col-stacked-fluid > .group-left, .ds-2col-stacked-fluid > .group-right{
	width: 100%;
	float: left;
	}
	.highlighted h2{
		font-size: 24px;
		position: absolute; 
		top: 20px;
		left: 40px;
	}
	#block-ei-branding img{
		width: 135px;
		height: 35px;
	}
}
@media all and (max-width: 1024px){
	.highlighted #block-ei-views-block-produkty-block-1, .highlighted #block-ei-views-block-kategoria-produktu-block-2, .highlighted #block-views-block-produkty-block-2{
		display: none;
	}
}
#superfish-main-select{
	margin-right: 10px;
}
.view-frontpage{
	display: none;
}
#content .block .content{
	position: relative;
}

a, a:hover, a:active, a:focus {
   outline: 0;
   border-bottom: none;
}
#header a, #header a:hover{
	border: none;
	border-radius: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
} 
#header ul li ul{
	background-color: rgba(255, 255, 255, 0.5);
	padding-bottom: 5px;
}
#header ul li ul li{
	padding-bottom: 5px;
}
#header ul li ul li a{
	background-color: transparent;
}
h1, h2, h3, h4, h5, h6, h7{
	font-family: "Insignia W01";
}
#edit-preview{
	display: none;
}
#contact-message-formularz-rejestracyjny-form div{
	width: 30%;
	float: left;
	margin-right: 20px;
}
@media all and (max-width: 699px){
	#contact-message-formularz-rejestracyjny-form div{
		width: 90%;
		float: none;
		margin-right: 0px;
	}
}
#contact-message-formularz-rejestracyjny-form div.js-form-item{
	width: 100%;
	float: none;
}
#edit-field-strona-www-0-uri--description{
	display: none;
}
#contact-message-formularz-rejestracyjny-form #edit-actions{
	clear: both;
	float: none;
	width: auto;
}
/*Produkt*/
#page, #content, #main-wrapper{
	background-color: #ededed;
}
#front #page,#front  #content,#front  #main-wrapper{
	background-color: white;
}
.group-right .field--name-field-zalacznik, .group-right .field--name-field-zdjecie{
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}
#content ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#content ol li{
  counter-increment: step-counter;
  margin-bottom: 10px;
  display: table;
}
#content ol li::before{
	content: counter(step-counter, decimal);
	background-color: #ed1c24;
	margin-right: 10px;
	margin-bottom: 12px;
	padding: 5px 5px 5px 5px;
	color: white;
	
	font-weight: normal;
	text-align: right;
	display: block;
	float: left;
}

.block-core ul li:before{
    content: '';   

}
#content .contextual-region ul{
    
   padding-left:20px;
   text-indent:2px;
    list-style: none;
   list-style-position:outside; 
  
}
#content .field--name-field-kluc{
	padding-top: 20px;
}
#content .field--name-field-kluc  .field__item{
	display: table;
}
#content .field--name-field-kluc  .field__item:before{
	color: #ed1c24;
    content: '✔';   
    margin-left: 5px;
	margin-right: 10px;
	display: block;
	float: left;
}
#content   .view-mode-teaser.ds-2col-stacked-fluid{
	background-color: white;
	border: 2px solid #fff;
    border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
#content .views-view-grid .view-mode-teaser.ds-2col-stacked-fluid{
	height: 255px;
}

#content  .view-mode-teaser.ds-2col-stacked-fluid:hover{
	border: 2px solid #ed1c24;
}
#content .view-mode-teaser.ds-2col-stacked-fluid a{
	color: #656668;
}
.views-view-grid .views-col{
	width: 50%;
	float: left;
	
}
@media all and (max-width: 699px){
	.views-view-grid .views-col{
	width: 100%;
	float: left;
	
	}
	#content .views-view-grid .view-mode-teaser.ds-2col-stacked-fluid{
	height: auto;
	}
}
.group-right .field--name-field-zdjecie img{
	display: block;
	margin: auto;
}
.field--name-field-galeria {
	display: table;
	background-color: white;
	margin-bottom: 10px;
	width:100%;
	height: auto;
	box-sizing: border-box;
	padding-right: 20px;
}
.field--name-field-galeria .field__item{
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: 5px;
	float: left;
	box-sizing: border-box;
}
.node--type-podstrona .field--name-field-galeria .field__item, .taxonomy-term  .field--name-field-galeria .field__item{
	width: 480px;
	height: auto;
	padding: 10px;
	margin: 10px;
	float: left;
	box-sizing: border-box;
}
@media all and (max-width: 699px){
	.node--type-podstrona .field--name-field-galeria .field__item, .taxonomy-term  .field--name-field-galeria .field__item{
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}
.node--type-podstrona .field--name-field-galeria .field__item img, .taxonomy-term  .field--name-field-galeria .field__item img{
	display: block;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
}
.node--type-podstrona .field--name-field-galeria, .taxonomy-term  .field--name-field-galeria {
	margin-bottom: 30px;
}
.node--type-podstrona table, .node--type-podstrona table tr, .node--type-podstrona table tr td, .node--type-podstrona table tr th{
	background-color: transparent;
	border: none; 
}
/*
 * Container
 */
.layout-container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

  .layout-container {
    max-width: 1320px;
    width: 100%;
  }


/**
 * Main
 */
 .flickity-enabled{
	 display: table;
 }
.layout-main-wrapper {
  min-height: 300px;
}
.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}

.views_slideshow_cycle_main .views-row{
	float: left;
	width: 205px;
	margin-right: 10px;
}

/***********************************************************
*
*   201609 - HYPERDATA RWD ADJUSTMENTS 
*
************************************************************/
body {
  overflow-x: hidden;
}
.highlighted {
  border-bottom: 0px;
}
#front .highlighted {
  height: 370px;
  overflow: hidden;
  background: #f7f7f9 url(/themes/ei/images/start.jpg) no-repeat center top;
background: url(/themes/ei/images/start.jpg) no-repeat center top, -webkit-linear-gradient(left, #f7f7f9, #dfdee1);
background: url(/themes/ei/images/start.jpg) no-repeat center top, linear-gradient(to right, #f7f7f9, #dfdee1); 
}
#front .highlighted aside {
  height: 370px;
}
#front .highlighted .section > img { 
  display: none;
}
.highlighted .block .content {
  margin-top: 0px;
}
.highlighted .block .content img{
  display: block;
}
.node--view-mode-teaser h2 {
  padding-top: 0px;
}

@media (max-width: 1024px) {
  #front .highlighted aside {
    height: auto;
  }
  .highlighted h2 {
    left: auto;
    padding: 0 15px;
    position: relative;
    width: 100%;
    top: auto;
    margin: 50px 0;
    box-sizing: border-box;
  }
  #front .highlighted {
    height: auto;
  }
  #front .content_left {
    width: 100%;
    float: left;
    margin-top: -32px;
  }
  #front .content_right {
    width: 100%;
    float: left;
  }
    
  #front #content .block .content {
    position: relative;
    margin: 0;
  }
  #front #content .block .content img {
    display: block;
    margin: 0px;
    width:100%;
  }

  #content .block .content .field--name-field-film {
    left: 15px;
    top: 57px;
  }
  #content .block .content .field--name-field-film a:before {
    content: 'Zobacz nasz kanał';
  }
  #front #content .block .content .field--name-field-film img {
    display: none;
  }
  #block-ei-dystrybutorzy {
    background: #f0f0f0;
  }
  #block-ei-dystrybutorzy img {
    left: 50%;
    position: relative;
  }
   #front #content #block-ei-kalendarz .field--name-field-tlo img {
    display: none;
  }
  #front #content #block-ei-kalendarz .field--name-body {
    position: static;
    width: 100%;
    box-sizing: border-box;
  }
  #front #content #block-ei-kalendarz .field--name-body img {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 700px) and (max-width: 1023px) {
  #front .main-content h2{
    font-size: 32px;
  }
  #content .block .content .field--name-field-film {
    top: 79px;
  }
}
@media (max-width: 699px) {
  #block-ei-branding img {
    width: auto;
    height: auto;
  }
  .content-map {
    display: none;
  }
  .about-img {
    display: none;
  }
}
@media (max-width: 460px) {
  #header .region-header {
    width: 100%;
    padding: 0;
    text-align: center;
    height: 90px;
  }
  .site-branding__logo {
    margin-right: 0px;
  }
  #block-ei-branding img {
    width: 150px;
    height: auto;
  }
  .region-primary-menu {
    width: 80%;
    top: 50px;
  }
  #block-glownanawigacja-2 {
    padding: 0 15px;
    box-sizing: border-box;
  }
  #superfish-main-select {
    width: 100%;
    margin-right: 0px;
  }
  #front .main-content h2{
    margin-top: 15px;
    font-size: 18px;
  }
  #content .block .content .field--name-field-film {
    top: 40px;
  }
}
@media (max-width: 400px) {
  #front #content .block .content .field--name-body {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 560px) {
  .node .field--name-field-blog-zdjecie {
    float: left;
    max-width: 200px;
    margin: 0 1em 0 0;
  }
}

@media (max-width: 1275px) {
  #block-ei-kalendarz .field--name-body img {
    display: none;
  }
}

#block-views-block-podstrona-block-2 > h2 {
	display: none;
}

/* 201701 UPDATE */
.path-frontpage #main .content_left {
  width: 50%;
}
.path-frontpage #main .content_right {
  width: 50%;
}
.path-frontpage #main .field--name-field-tlo img {
  margin-bottom: 0px;
  display: block;
}
.path-frontpage #main  .block .content {
  margin-top: 0px;
}
.path-frontpage #main  .content_left .block .content .field--name-body,
.content_right .block .content .field--name-body {
  padding-left: 25px;
  padding-right: 25px;
  z-index: 10;
}
#content .block .content .field--name-field-film {
  left: 35px;
}
#block-ei-youtube h2 {
  color: #fff;
}
.path-frontpage #main  .content_left .block .content a,
.path-frontpage #main  .content_right .block .content a {
   color: #E50110;
}

@media (max-width: 1023px) and (min-width: 700px) {
  #front .main-content h2 {
    font-size: 20px;
  }
  #front #content .block .content .field--name-body {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #front .content_left {
      margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  #front #content #block-ei-kalendarz .field--name-field-tlo img {
      display: block;
  }
  #front #content #block-ei-kalendarz .field--name-body {
    position: absolute;
  }
  #block-ei-dystrybutorzy img {
    left: 0%;
    position: absolute;
  }
  #front .highlighted .section > img {
     display: none;
  }
  #content .block .content .field--name-field-film {
    left: 15px;
  }
}
@media (max-width: 830px) {
  .path-frontpage #main .content_left {
    width: 100%;
  }
  .path-frontpage #main .content_right {
    width: 100%;
  }
  #front .main-content h2 {
    font-size: 32px;
    margin-top: 10px;
    line-height: 1.2;
  }
  #block-ei-produkty .content:before,
  #block-top .content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    z-index: 1;
  }

}
@media (max-width: 560px) {
  #front .main-content h2 {
    font-size: 26px;
    margin-top: 10px;
    line-height: 1.2;
  }  
  #front .highlighted {
    padding-top: 30px;
  }
  #header .region-primary-menu {
    position: absolute;
    right: auto;
    top: 108px;
    left: 0;
    width: 100%;
    padding: 0;
  }
  #superfish-main-select {
    width:100%;
    margin: 0;
  }
}
@media (max-width: 480px) {

  #front .main-content h2 {
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.2;
  }  
  #block-ei-kalendarz p {
     display: none;
  }
}

@media (max-width: 460px) {
  #block-ei-branding img {
      width: 150px;
      height: auto;
      margin-top: 16px;
  }
  #header .region-header {
    width: 100%;
    padding: 0;
    text-align: left;
    height: 90px;
    padding-left: 15px;
  }
}
