/* line 6, ../sass/responsive.desktop.scss */
.block-views-blockaktualnosci-block-1 {
  max-width: 880px;
  float: left;
}
/* line 10, ../sass/responsive.desktop.scss */
.block-views-blockaktualnosci-block-1 .views-row {
  width: 280px;
  margin-right: 20px;
  margin-left: 0;
  height: 510px;
}
/* line 16, ../sass/responsive.desktop.scss */
.block-views-blockaktualnosci-block-1 .views-row:nth-last-child(1) {
  margin-right: 0;
}

/*********************** poradnik **************************/
/* line 25, ../sass/responsive.desktop.scss */
.nasze-poradniki-block {
  float: left;
  max-width: 390px;
  margin-left: 20px;
}
/* line 30, ../sass/responsive.desktop.scss */
.nasze-poradniki-block:after {
  content: '';
  position: absolute;
  z-index: 0;
  right: 0;
  top: 50%;
  margin-top: -65px;
  width: 191px;
  height: 270px;
  background: url(../images/detector.png) no-repeat center;
}

/* line 43, ../sass/responsive.desktop.scss */
.poradniki-row {
  width: 100%;
}

/* line 47, ../sass/responsive.desktop.scss */
.poradniki-body {
  width: 195px;
}

/**************************** radio link **********************/
/* line 56, ../sass/responsive.desktop.scss */
.rl-row .row-wrapp {
  padding: 40px 45px;
}

/* line 62, ../sass/responsive.desktop.scss */
.rl-title {
  font-size: 62px;
  line-height: 58px;
}

/* line 67, ../sass/responsive.desktop.scss */
.rl-body {
  max-width: 310px;
}

/************************** map sections ************************/
/* line 74, ../sass/responsive.desktop.scss */
.block-views-blockmapa-instalatorow-block-1 {
  padding-right: 15px;
}

/* line 79, ../sass/responsive.desktop.scss */
.map-filters {
  padding: 65px 80px;
}
/* line 84, ../sass/responsive.desktop.scss */
.map-filters input.form-text {
  max-width: 320px;
}
/* line 88, ../sass/responsive.desktop.scss */
.map-filters input.form-submit {
  width: 142px;
}
/* line 95, ../sass/responsive.desktop.scss */
.map-filters .more-link a {
  line-height: 58px;
  height: 60px;
}

/*********************** blog ******************************/
/* line 106, ../sass/responsive.desktop.scss */
.block-views-blockblog-block-1 {
  padding-left: 15px;
}

/* line 114, ../sass/responsive.desktop.scss */
.view-blog.view-display-id-block_1 .views-row {
  margin-bottom: 30px;
  padding: 20px 30px;
}
/* line 121, ../sass/responsive.desktop.scss */
.view-blog .more-link a {
  line-height: 78px;
  height: 80px;
}

/******************* stopka ********************************/
/* line 132, ../sass/responsive.desktop.scss */
.site-footer__top > .region {
  margin-bottom: 40px;
  padding: 0;
}

/* line 139, ../sass/responsive.desktop.scss */
.region-footer-first .main-menu-block {
  float: left;
  margin-right: 80px;
  width: auto;
}

/*# sourceMappingURL=responsive.desktop.css.map */
