/*********************** nasze poradniki ************************/
/* line 3, ../sass/responsive.tablet.scss */
.poradniki-row {
  padding: 20px;
}

/* line 7, ../sass/responsive.tablet.scss */
.poradniki-body {
  width: 100%;
}

/************************ radio link ***********************/
/* line 14, ../sass/responsive.tablet.scss */
.rl-row {
  width: 100%;
}

/************************* mapa ***************************/
/* line 20, ../sass/responsive.tablet.scss */
.block-views-blockmapa-instalatorow-block-1 {
  max-width: 100%;
  padding: 0;
  float: none;
}

/* line 28, ../sass/responsive.tablet.scss */
.map-filters input.form-submit {
  padding: 0;
  font-size: 14px;
}
/* line 33, ../sass/responsive.tablet.scss */
.map-filters input.form-text {
  padding: 0 10px;
}
/* line 39, ../sass/responsive.tablet.scss */
.map-filters .form--inline .form-item {
  padding: 0;
}

/************************* blog **************************/
/* line 47, ../sass/responsive.tablet.scss */
.block-views-blockblog-block-1 {
  float: none;
  padding: 0;
  max-width: 100%;
}

/********************** amazon **************************/
/* line 56, ../sass/responsive.tablet.scss */
.amazon-block {
  height: auto;
}
/* line 59, ../sass/responsive.tablet.scss */
.amazon-block .opinion-row {
  margin-bottom: 20px;
}
/* line 61, ../sass/responsive.tablet.scss */
.amazon-block .opinion-row.row-1 {
  width: 100%;
}
/* line 64, ../sass/responsive.tablet.scss */
.amazon-block .opinion-row.row-2 {
  width: 100%;
  margin-bottom: 0;
}
/* line 69, ../sass/responsive.tablet.scss */
.amazon-block .opinion-row .product-button {
  position: relative;
  right: inherit;
  bottom: inherit;
  margin-top: 20px;
}

/************************ footer **************************/
/* line 82, ../sass/responsive.tablet.scss */
.site-footer__top > .region {
  width: 100%;
  margin-bottom: 20px;
}
/* line 86, ../sass/responsive.tablet.scss */
.site-footer__top > .region.region-footer-third {
  width: 100%;
}
/* line 90, ../sass/responsive.tablet.scss */
.site-footer__top > .region.region-footer-fourth {
  width: 100%;
}

/* line 95, ../sass/responsive.tablet.scss */
#scroll-to-top {
  height: auto;
  line-height: normal;
}

/****************************** newsletter ********************/
/* line 104, ../sass/responsive.tablet.scss */
.simplenews-subscriber-form .field--name-mail {
  width: 70%;
  margin: 0;
}
/* line 109, ../sass/responsive.tablet.scss */
.simplenews-subscriber-form .form-actions {
  width: 30%;
}
/* line 114, ../sass/responsive.tablet.scss */
.simplenews-subscriber-form input.form-text {
  padding: 0 10px;
}
/* line 118, ../sass/responsive.tablet.scss */
.simplenews-subscriber-form input.form-submit {
  padding: 0;
  font-size: 14px;
  width: 100%;
}

/*# sourceMappingURL=responsive.tablet.css.map */
