/*********************** nasze poradniki ************************/
/* line 3, ../sass/responsive.mobile.scss */
.poradniki-row {
  width: 100%;
}

/********************* aktualnosci *****************************/
/* line 11, ../sass/responsive.mobile.scss */
.block-views-blockaktualnosci-block-1 .views-row {
  margin: 0 0 20px 0;
  width: 100%;
}

/****************************** map ***************************/
/* line 20, ../sass/responsive.mobile.scss */
.el-logo-left, .el-logo-right {
  width: 50%;
}

/*# sourceMappingURL=responsive.mobile.css.map */
