

//******************** colors 

$colred:        #ef1616;





//*******************forms

@mixin basic_button{
    display: inline-block;
    border: 0;
    font-family: "Insignia W01";
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 25px;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    text-transform: uppercase;
    color: white;
    background-color: black;
    
}


//***************** function

@mixin gradient_bg($var...){
    
    background: -webkit-linear-gradient($var); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($var); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($var); /* For Firefox 3.6 to 15 */
    background: linear-gradient($var); /* Standard syntax */
    
}

@mixin radial_bg($var...){
    
    background: -webkit-radial-gradient($var); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient($var); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient($var); /* For Firefox 3.6 to 15 */
    //background: radial-gradient($var); /* Standard syntax */
    
}