@import "components";

/************ basic styles *********************/

.block-title{
    color: $colred;
    font-size: 26px;
    line-height: 35px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
     em{
        color: black;
        font-style: normal;
    }
}

.site-footer{
    
    .block-title{
        color: white;
        font-size: 20px;
        border: 0;
        padding: 0;
        margin-bottom: 20px;
        
        em{
            color: $colred;    
        }
    }
}

.color-red{
    color: $colred;
}


.clearfix{
    clear: both;
}


/** form ***/

input{
    
    margin: 0;
    
    &.form-text{
        width: 100%;
        max-width: 440px;
        height: 60px;
        line-height: 58px;
        box-sizing: border-box;
        padding: 0 25px;
        border: 1px solid #252525;
        border-radius: 0;
        box-shadow: 0 0 0  rgba(0,0,0,0);
        background: white;
        font-size: 16px;
        color: black;
        font-family: "PT Sans";
    }
    
    &.form-submit{
        @include basic_button;
        
        &.btn-red{
            background-color: $colred;
        }
    }
}


.btn-classic{
    @include basic_button;
    
    &.btn-red{
        background-color: $colred;
    }
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}


/********************** header ****************************/

.path-frontpage{
    .featured-top{
        display: none;
    }
}

.block-views-blockkategoria-produktu-block-2{
    display: inline-block;
    width: 100%;
    text-align: center;
    
    .views-row{
        display: inline-block;
        width: 205px;
        margin: 0 5px;
    }
    
    .block-title{
        text-align: left;
        border: 0;
        font-size: 50px;
        padding: 0;
        margin: 80px 0;
        line-height: 50px;
    }
}

.highlighted .region-highlighted{
    margin: 0;
}

.views-field-field-zdjecie-top{
    position: relative;
    .top-photo{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 40px;
        text-align: left;
        border: 0;
        font-size: 50px;
        padding: 0;
        margin: 80px 0;
        line-height: 50px;
        color: $colred;
    }
}



/********************** aktualnosci front *********************/

.block-views-blockaktualnosci-block-1{
    width: 100%;
    display: inline-block;
    
    .views-row{
        float: left;
        box-sizing: border-box;
        margin: 0 3%;
        width: 27%;
        border-bottom: 10px solid black;
        
    }
    
    .views-field-field-zdjecie{
        border-bottom: 10px solid $colred;
        margin-bottom: 20px;
        
        img{
            display: block;
        }
    }
    
    .views-field-title{
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        
        &:after{
            content: '';
            width: 100px;
            border-bottom: 1px solid #dcdcdc;
            left: 0;
            bottom: 0;
            position: absolute;
            z-index: 1;
        }
        
        a{
            font-size: 22px;
            color: #373737;
            line-height: 30px;
            font-weight: bold;
        }
    }
    
    .views-field-body{
        font-size: 15px;
        line-height: 28px;
        padding-bottom: 20px;
    }

}

a{
    &.views-more-link{
        color: $colred;
        font-weight: bold;
    }
}


/**************************** nasze poradniki ********************************/

.nasze-poradniki-block{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    
}

.poradniki-row{
    background-color: $colred;
    padding: 25px 40px;
    color: white;
    height: 255px;
    box-sizing: border-box;
    width: 50%;
    float: left;
    
    &.red-gradiend{
        @include gradient_bg(left, #f8490a, #f01d14);
    }
    
    &.black-gradiend{
        background-color: black;
        @include gradient_bg(left top, #020202, #424242);
        position: relative;
        
        &:after{
            content: '';
            width: 140px;
            height: 35px;
            background: url(../images/ei-watermark.png) no-repeat center;
            position: absolute;
            z-index: 1;
            bottom: 30px;
            right: 30px;
        }
    }
}

.poradniki-title{
    font-size: 25px;
    line-height: 30px;
    font-family: "Insignia W01";
    margin: 10px 0;
}

.poradniki-body{
    font-size: 15px;
    line-height: 22px;
    width: 80%;
    margin-bottom: 20px;
}



/**************************** radio link **********************************/

.rl-row{
    width: 50%;
    height: 300px;
    background-color: #f7f7f7;
    float: left;
    color: black;
    margin-top: 35px;
    
    &.black-gradient{
        @include radial_bg(bottom, #797979, #060606);
        background: radial-gradient(bottom, #797979, #060606);
        
        .row-wrapp{
             background-image: url(../images/rl-phone.png);   
        }
    }
    
    &.rl-family{
        .row-wrapp{
            background-image: url(../images/rl-family.png);
        }
    }
    
    .row-wrapp{
        box-sizing: border-box;
        height: inherit;
        padding: 20px;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

.rl-subtitle, .rl-title{
    font-size: 24px;
    line-height: 30px;
    font-family: "Insignia W01";
    text-transform: uppercase;
}


.rl-body{
    font-size: 15px;
    line-height: 22px;
    color: rgba(30,30,30, 0.6);
    margin: 20px 0;
}

.black-gradient{
    
    .rl-subtitle{
        color: white;
    }
    
    .rl-title{
        color: white;
    }
    
    .rl-body{
        color: rgba(255,255,255, 0.6);
    }
}



/****************************** footer ****************************/

.site-footer__top{
    > .region{
        padding: 0 10px; 
        margin-bottom: 40px;
        box-sizing: border-box;
        width: 50%;
        float: left;
        
        &.region-footer-third{
            width: 70%;
            font-family: "Insignia W01";
            font-size: 20px;
            color: white;
        }
        
        &.region-footer-fourth{
            width: 30%;
            font-family: "Insignia W01";
        }
    }
}

.region-footer-first{
    .main-menu-block{
        float: left;
        width: 30%;
        margin-right: 3%;
        
        ul{
            &.menu{
                li{
                    a{
                        color: #6d6d6d;
                        font-size: 15px;
                        line-height: 23px;
                        
                        &:hover{
                            color: $colred;
                        }
                    }
                }
            }
        }
    }
}

.footer-small-block{
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
    float: left;
    
    
    img{
       vertical-align: middle; 
    }
    
    &.footer-copyright{
        margin: 0;
    }
}

#scroll-to-top{
    height: 70px;
    line-height: 70px;
    padding-left: 40px;
    font-size: 20px;
    color: white;
    background: url(../images/top_arrow.png) no-repeat left center;
    
}

/******************* newsletter *****************/
.block-simplenews{
    text-align: right;
}


.simplenews-subscriber-form{
    display: inline-block;
    
    .field--name-mail{
        width: 320px;
        float: left;
        margin-right: 5px;
        
        label{
            display: none;
        }
    }
    
    .form-actions{
        float: right;
        padding: 0;
        
        input{
            &.form-submit{
                height: 59px;
                line-height: 59px;
                margin: 1px 0;
            }
        }
    }
    
    .form-item-message{
        color: #6d6d6d;
    }
}


/**************************** amazon *************************/


.amazon-block{
    height: 260px;
    margin: 30px 0;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 20px 30px;
    
    .opinion-row{
        float: left;
        height: inherit;
        position: relative;
        
        &.row-1{
            width: 40%;
        }
        
        &.row-2{
            width: 60%
        }
        
        .product-button{
            position: absolute;
            z-index: 1;
            right: 20px;
            bottom: 20px;
        }
    }
    
    .amazon-title{
        font-size: 24px;
        line-height: 29px;
        color: black;
        text-transform: uppercase;
        font-family: "Insignia W01";
        margin: 20px 0;
    }
    
    .amazon-description{
        font-size: 15px;
        line-height: 22px;
    }
}

/*************************** map ****************************/

.views-exposed-form{
    .form-item-field-kod-pocztowy-target-id,
    .form-item-field-miejscowosc-target-id{
        display: none;
    }
}

.block-views-blockmapa-instalatorow-block-1{
    float: left;
    width: 100%;
    max-width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
     
}

.map-filters{
    padding: 20px;
    background: url(../images/search_form_bg.jpg) no-repeat center;
    background-size: cover;
    clear: both;
    
    .more-link{
        margin-top: 10px;
        
        a{
            width: 100%;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
            color: black;
            font-size: 20px;
            font-family: "Insignia W01";
            line-height: 40px;
            box-sizing: border-box;
            color: white;
            border: 1px solid white;
        }
    }
    
    .form--inline{
        .form-item{
            float: left;
            padding: 0 10px 0 0;
            box-sizing: border-box;
            width: 70%;
            margin: 0;
        }
    }
    
    .form-actions.form-wrapper{
        float: left;
        margin: 0;
        clear: none;
        width: 30%;
    }
    
    input{
        
        &.form-text{
            max-width: 100%;
            border-color: white;
        }
        
        &.form-submit{
            height: 60px;
            line-height: 60px;
            width: 100%;
            box-sizing: border-box;
        }
    }
}

.el-logo-left{
    float: left;
    display: table;
    height: 80px;
    
    .field-wrapper{
        display: table-cell;
        vertical-align: middle;
    }
}

.el-logo-right{
    float: right;
    display: table;
    height: 80px;
    
    .field-wrapper{
        display: table-cell;
        vertical-align: middle;
    }
}

/************************** blog ****************************/
.block-views-blockblog-block-1{
    float: left;
    width: 100%;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 10px;
}

.view-blog{
    color: #373737;
    
    &.view-display-id-block_1{
        
        .views-row{
            background-color: #ededee;
            margin-bottom: 20px;
            padding: 20px;
        }
    }
    
    .views-field-title{
        font-family: "Insignia W01";
        a{
            font-size: 22px;
            line-height: 30px;
            color: #373737;
        }
    }
    
    .views-field-body{
        font-size: 15px;
        line-height: 28px;
    }
    
    .views-field-field-blog-zdjecie{
        margin: 20px 0;
        display: inline-block;
        width: 100%;
    }
    
    .views-field-nothing{
        .field-content{
            >div{
                float: left;
                margin-right: 20px;
                
                .field-label{
                    margin-right: 10px;
                }
                
                .field-label, .field-content{
                    float: left;
                }
            }
        }
    }
    
    .more-link{
        a{
            width: 100%;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
            color: black;
            font-size: 20px;
            font-family: "Insignia W01";
            line-height: 40px;
            box-sizing: border-box;
            border: 1px solid $colred;
            
        }
    }
    
}


/*************************** kontakt **************************/

.mapka{
    width: 100% !important;
}



/**************************** product page *********************/


.produkty-views-page{
    
    .views-row{
        width: 50%;
        float: left;
    }
    
    .views-field-nothing{
        margin: 10px;
        padding: 20px;
        background-color: white;
        height: 255px;
        border-radius: 10px;
    }
    
    .product-left, .product-right{
        float: left;
        width: 50%;
    }
    
    .product-title{
        a{
            color: #656668;
            font-size: 22px;
        }
    }
    
    .product-image{
        text-align: center;
    }
    
    .product-description{
        li{
            list-style: circle;

        }
    }
}