/*********************** nasze poradniki ************************/

.poradniki-row{
    padding: 20px;
}

.poradniki-body{
    width: 100%;
}


/************************ radio link ***********************/

.rl-row{
    width: 100%;
}

/************************* mapa ***************************/

.block-views-blockmapa-instalatorow-block-1{
    max-width: 100%;
    padding: 0;
    float: none;
}

.map-filters{
    input{
        &.form-submit{
            padding: 0;
            font-size: 14px;
        }
        
        &.form-text{
            padding: 0 10px;
        }
    }
    
    .form--inline{
        .form-item{
            padding: 0;
        }
    }
} 

/************************* blog **************************/

.block-views-blockblog-block-1{
    float: none;
    padding: 0;
    max-width: 100%;
}


/********************** amazon **************************/

.amazon-block{
    height: auto;
    
    .opinion-row{
        margin-bottom: 20px;
        &.row-1 {
            width: 100%;
        }
        &.row-2 {
            width: 100%;
            margin-bottom: 0;
        }
        
        .product-button{
            position: relative;
            right: inherit;
            bottom: inherit;
            margin-top: 20px;
        }
     
    }

} 

/************************ footer **************************/

.site-footer__top > .region{
    width: 100%;
    margin-bottom: 20px;
    
    &.region-footer-third{
        width: 100%;
    }
    
    &.region-footer-fourth{
        width: 100%;
    }
}

#scroll-to-top{
    height: auto;
    line-height: normal;
}


/****************************** newsletter ********************/

.simplenews-subscriber-form {
    .field--name-mail{
        width: 70%;
        margin: 0;
    }
    
    .form-actions{
        width: 30%;
    }
    
    input{
        &.form-text{
            padding: 0 10px;
        }
        
        &.form-submit{
            padding: 0;
            font-size: 14px;
            width: 100%;
        }
    }
}