/*********************** nasze poradniki ************************/

.poradniki-row{
    width: 100%;
}


/********************* aktualnosci *****************************/

.block-views-blockaktualnosci-block-1{
    .views-row{
        margin: 0 0 20px 0;
        width: 100%;
    }
}


/****************************** map ***************************/

.el-logo-left, .el-logo-right{
    width: 50%;
}