


//****************************** aktualnosci blok **********************/

.block-views-blockaktualnosci-block-1{
    max-width: 880px;
    float: left;
    
    .views-row{
        width: 280px;
        margin-right: 20px;
        margin-left: 0;
        height: 510px;
        
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
}


/*********************** poradnik **************************/

.nasze-poradniki-block{
    float: left;
    max-width: 390px;
    margin-left: 20px;
    
    &:after{
        content: '';
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        margin-top: -65px;
        width: 191px;
        height: 270px;
        background: url(../images/detector.png) no-repeat center;
    }
}

.poradniki-row{
     width: 100%;  
}

.poradniki-body{
    width: 195px;
}


/**************************** radio link **********************/

.rl-row{
    
    .row-wrapp{
        padding: 40px 45px;
    }
    
}

.rl-title{
    font-size: 62px;
    line-height: 58px;
}

.rl-body{
    max-width: 310px;
}


/************************** map sections ************************/

.block-views-blockmapa-instalatorow-block-1{
    padding-right: 15px;
     
}

.map-filters {
    padding: 65px 80px;
    
    input{
        
        &.form-text{
            max-width: 320px;
        }
        
        &.form-submit{
            width: 142px;
        }
    }
    
    .more-link{
        
        a{
            line-height: 58px;
            height: 60px;
        }
    }

}


/*********************** blog ******************************/

.block-views-blockblog-block-1{
    padding-left: 15px;
}

.view-blog{
    
    &.view-display-id-block_1{
        
        .views-row{
            margin-bottom: 30px;
            padding: 20px 30px;
        }
    }
    
    .more-link{
        a{
            line-height: 78px;
            height: 80px;
        }
    }
}


/******************* stopka ********************************/

.site-footer__top{
    > .region{
        margin-bottom: 40px;
        padding: 0;
    }
}

.region-footer-first{
    .main-menu-block{
        float: left;
        margin-right: 80px;
        width: auto;
    }
    
}