/**
 * @file
 * Overall specifications for Bartik.
 */

html {
  height: 100%;
}
body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
}
a,
a.link {
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}
.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 a,
h2 a {
  border-bottom: none;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.357em;
  color: #000;
}
h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.143em;
}
h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.092em;
}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em; /* LTR */
  vertical-align: -0.4em;
}
[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.2em;
  margin-right: 0;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
.feed-icon {
  display: block;
  margin: 25px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul, ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}

/* Hyperdata Added */
.view-blog .blog-usernames-blog {
  display: none;
}
#content .contextual-region .view-blog ul li:before {
    display: none;
}
.page-node-type-blog-post .highlighted {
  display: none;
}
.comment__meta .profile {
  display: none;
}
.view-blog .node--type-blog-post header {
  //padding-left: 215px;
}
.view-blog .node__content .field--type-image {
  //margin-top: -69px;
}
.comment__content:before {
  top: 50% !important;
  margin-top: -10px;
  border-top: 10px solid transparent !important;
  border-right: 10px solid #d3d7d9 !important;
  border-bottom: 10px solid transparent !important;
}
.comment__content:after {
  top: 50% !important;
  margin-top: -10px;
  border-top: 10px solid transparent !important;
  border-right: 10px solid #ededed  !important;
  border-bottom: 10px solid transparent !important;
}
.comment__permalink {
  display: none;
}
.field--type-comment .comment__content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.field--type-comment .comment__content h3 a {
  color: #000;
}
.comment-wrapper {
  padding-top: 0;
  border-top: 1px solid #d3d7d9;
  margin-top: 30px;
}
article.node--type-blog-post  .field--name-body {
  margin-top: 20px;
}
  
article.node--type-blog-post .field--type-image a {
  text-indent: -9999px;
}
article.node--type-blog-post .field--name-field-galeria {
  display: block;
  float: none;
  padding: 0px;
  background: none;
  margin-bottom: 30px;
}
article.node--type-blog-post .field--name-field-galeria:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
article.node--type-blog-post .field--name-field-galeria .field__item {
  padding: 0px;
  margin: 0px;
  width: 25%;
  padding-bottom: 25%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
article.node--type-blog-post .field--name-field-galeria .field__item a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0px;
}
article.node--type-blog-post .field--name-field-galeria .field__item a img{
    position: absolute;
    height: 100%;
    width: auto;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.comment-form label {
  width: 180px !important;
  opacity: 0.4;
  font-weight: normal;
  line-height: 34px;
}
#comment-form #edit-actions input {
  margin-left: 180px;
}

@media (max-width: 559px) {
  .node .field--type-image img {
    width:100%;
    margin-bottom: 0px;
  }
  article.node--type-blog-post  .field--name-body {
    margin-top: 0px;
  }
  article.node--type-blog-post .field--name-field-galeria .field__item {
    width: 100%;
  }
  article.node--type-blog-post .field--name-field-galeria .field__item a img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1026px) {
  #comment-form #edit-actions input {
    margin-left: 0px;
  }
}

/* Paginacja */
.pager__item--first,
.pager__item--last {
  display: none !important;
}

