{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<!--Insignia start-->
	<style type="text/css">			
	@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=d9609a2e-d6e8-4606-b405-8dfa8f7dc855&fontids=722575");
	@font-face{
	font-family:"Insignia W011";
	src:url("/Fonts/722575/352b9283-0d90-41ae-9300-a6b4901a6696.eot?#iefix");
	src:url("/Fonts/722575/352b9283-0d90-41ae-9300-a6b4901a6696.eot?#iefix") format("eot"),url("/Fonts/722575/4eda4045-ef93-496f-b8d0-93f81ac462b8.woff") format("woff"),url("/Fonts/722575/7bdcb908-e152-470c-bcaf-39c3ee9c1932.ttf") format("truetype"),url("/Fonts/722575/1715cd5d-2732-4a30-a86a-f0daa21ed1d3.svg#1715cd5d-2732-4a30-a86a-f0daa21ed1d3") format("svg");
	}
	@font-face{
	font-family:"Insignia W01";
	src: url('/Fonts/insignia/InsigniaCom.eot');
	src: url('/Fonts/insignia/InsigniaCom.eot?#iefix') format('embedded-opentype'),
		url('/Fonts/insignia/InsigniaCom.woff') format('woff'),
		url('/Fonts/insignia/InsigniaCom.ttf') format('truetype');	}
	</style>
	<!--Insignia endt-->
	
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
	<script type="text/javascript">
	(function($) { 

		$('.field--name-field-galeria .field__item img').each(function() {
		$(this).after( $(this).attr('alt') );
		});
		function odpal(){

		// resize mapki w kontakcie
		var szerokosc = $('.node__content').width();
		$('.mapka').attr('width', szerokosc+'px');
		$('.mapka').attr('height', (szerokosc/3)+'px');
		}
		/*
		function chromefix(){
			$(".view-produkty img").attr('width', '205');
			$(".view-produkty img").attr('height', '140');
			$(".view-produkty img").attr('style', 'display: table; width: 240px; height: 140px;');
				
		}
		$(window).resize(function() {
			odpal();
			// chromefix();
			
		});
		*/
		$(document).ready(function() {
			odpal();
			// chromefix();
		});
		

	})(jQuery);
	</script>
  </body>
</html>
